if (typeof $igniter_var === 'undefined') {
  (function(w,d,s,p,v,e,r) {w.$ps = (w.performance && w.performance.now && typeof(w.performance.now) == "function") ? w.performance.now() : undefined;
  w['$igniter_var']=v;w[v]=w[v]||function(){(w[v].q=w[v].q||[]).push(arguments)};w[v].l=1*new Date();e=d.createElement(s),r=d.getElementsByTagName(s)[0];e.async=1;
  e.src=p+'?ts='+(+new Date()/3600000|0);
  r.parentNode.insertBefore(e,r)})(window,document,'script','//cdn.petametrics.com/{{ js_key }}.js','$p');

  {% if set_no_tag %}
    $p("setNoTag", true);
  {% endif %}

  $p('init', "{{ js_key }}", {{ global_config }});
  $p('send', "pageview");
}
